{erl_opts, [debug_info]}.
{deps, [
    {lager, "~> 3.9"},
    {esysevent, "~> 1.0"},
    {ssh_agent, "~> 0.1"},
    {ebox, "~> 1.0"},
    {jsx, "~> 3.0"}
]}.
{plugins, [pc]}.
{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{port_env, [
  {"CFLAGS", "$CFLAGS -Werror -O2 -g -gdwarf-2 -D_REENTRANT"},
  {"LDFLAGS", "$LDFLAGS"}
]}.
{port_specs, [
    {"priv/zka_zoneinfo_nif.so", [
        "c_src/zka_zoneinfo_nif.c"
    ]}
]}.

{shell, [
    {config, "config/shell.config"},
    {apps, [zonekeyagent]}
]}.

{relx, [
    {release, {zonekeyagent, "1.0.0"}, [zonekeyagent, runtime_tools]},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {exclude_modules, [{ssh, [ssh_agent]}]}
]}.
